header{
    width: 100%;
    height: 100px;
    background-color: bisque;
}
header .logo,header nav, header nav ul li {
    display: inline-block;
}
header .logo{
    margin-left: 100px;
}

header nav ul{
    margin-left: 300px;
}
header nav ul li {
    margin-right: 100px;
}
